body::-webkit-scrollbar {
  display: none;
}

/* Google Fonts - Inter */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:wght@500&display=swap");

html,
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden !important;
}

body {
  position: relative;
}

#menu {
  float: right;
}

#content-1 {
  font-family: "Inter", sans-serif;
  text-align: center;
  position: relative;
  margin-top: 78px;
  font-size: x-large;
}

.content-1-p {
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: #172b4d;
}

.clr-blue {
  color: #172b4d;
}

.clr-green {
  color: #36b37e;
}

.l-s {
  height: 30px;
}

.flex {
  display: flex;
  text-align: center;
  justify-content: center;
}

#i1 {
  display: none;
}

#d {
  border-radius: 50%;
  border: 1px solid #dfe1e6;
  padding: 5px;
  margin-top: 7%;
  background: #fff;
}

#content-2 {
  font-family: "Inter", sans-serif;
  text-align: center;
  justify-content: center;
  position: relative;
  font-size: x-large;
}

#card {
  border-radius: 8px;
  height: 474px;
  width: 327px;
  border: 1px solid #ebf0ee;
  text-align: center;
  justify-content: center;
  background-color: #ebf0ee;
  margin-top: -120px;
}

.li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 38px;
  text-align: center;
  justify-content: center;
}

li {
  background-color: #ebf0ee;
  padding: 2px;
  font-size: medium;
  border-radius: 8px;
  padding: 8px;
}

.card1 {
  position: relative;
  top: 260px;
  background-color: #fff;
  height: 210px;
  padding-top: 10px;
  border: 1px solid #ebf0ee;
  border-bottom: 1px solid #ebf0ee;
  border-radius: 8px;

  /* border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px; */
}

.btn {
  height: 45px;
  background-color: #36b37f;
  color: #fff;
  border: none;
  border-radius: 7px;
  margin-top: 8px;
}

.s-card {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 160px;
  padding-bottom: 10px;
}

.content-3 {
  font-size: x-large;
  margin-top: 60px;
}

.center {
  text-align: center;
  justify-content: center;
}

.content-3-p {
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: #172b4d;
}

.btn-2 {
  width: 130px;
}

.abt-1 {
  display: none;
}

/* Mobile View */

@media only screen and (max-width: 600px) {
  #content-1 {
    background-image: url("imgs/i1.png");
    background-size: cover;
  }

  .content-3 {
    background-image: url("imgs/about.png");
    background-size: cover;
    position: relative;
    background-position: 5px -69px;
  }

  .abt-1 {
    display: inline-block;
    position: absolute;
    margin-top: -65px;
    margin-left: 82px;
  }
}

.skills {
  display: flex;
  margin-top: 60px;
}

.skill {
  width: 416px;
  height: 359px;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  background-color: #ebf0ee;
}

.li-2 {
  background-color: #fff;
  color: #36b37e;
}

.p1 {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(45%);
  transform: translateY(25%);
}

.content-4 {
  font-size: x-large;
  margin-top: 30px;
  padding: 20px;
}

.in {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 300px;
  height: 48px;
  font-style: italic;
  margin-bottom: 24px;
}

textarea {
  width: 300px;
  height: 117px;
  font-family: "Inter", sans-serif;
  padding: -20px;
}

textarea::placeholder {
  position: relative;
  left: -20px;
}

.btn-3 {
  margin-top: 30px;
}

.foot {
  position: absolute;
  margin-top: 13px;
  margin-left: 153px;
}
