/* Google Fonts - Inter */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap");

html,
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

#menu {
  float: right;
  margin-top: -60px;
  margin-right: 22px;
}

#content-1 {
  font-family: "Inter", sans-serif;
  text-align: center;
  position: relative;
  margin-top: 78px;
  font-size: x-large;
}

.content-1-p {
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: #172b4d;
}

.clr-blue {
  color: #172b4d;
}

.clr-green {
  color: #36b37e;
}

.l-s {
  height: 30px;
}

.flex {
  display: flex;
  text-align: center;
  justify-content: center;
}

#i1 {
  display: none;
}

#d {
  border-radius: 50%;
  border: 1px solid #dfe1e6;
  padding: 5px;
  margin-top: 7%;
  background: #fff;
}

#content-2 {
  font-family: "Inter", sans-serif;
  text-align: center;
  justify-content: center;
  position: relative;
  font-size: x-large;
}

#card {
  border-radius: 8px;
  height: 474px;
  width: 327px;
  border: 1px solid #ebf0ee;
  text-align: center;
  justify-content: center;
  background-color: #ebf0ee;
  margin-top: -120px;
}

.li {
  display: flex;
  list-style-type: none;
  margin-right: 38px;
  text-align: center;
  justify-content: center;
}

.li-bg {
  background-color: #ebf0ee;
}

li {
  font-size: medium;
  border-radius: 8px;
  padding: 8px;
  list-style-type: none;
}

.card1 {
  position: relative;
  top: 260px;
  background-color: #fff;
  height: 210px;
  padding-top: 10px;
  border: 1px solid #ebf0ee;
  border-bottom: 1px solid #ebf0ee;
  border-radius: 8px;

  /* border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px; */
}

.btn {
  height: 45px;
  background-color: #36b37f;
  color: #fff;
  border: none;
  border-radius: 7px;
  margin-top: 8px;
}

.s-card {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 160px;
  padding-bottom: 10px;
}

.content-3 {
  font-size: x-large;
  margin-top: 60px;
}

.center {
  text-align: center;
  justify-content: center;
}

.content-3-p {
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: #172b4d;
}

.btn-2 {
  width: 130px;
}

.abt-1 {
  display: none;
}

/* Mobile View */

@media only screen and (max-width: 600px) {
  #content-1 {
    background-image: url("imgs/i1.png");
    background-size: cover;
  }

  .content-3 {
    background-image: url("imgs/about.png");
    background-size: cover;
    position: relative;
    background-position: 5px -69px;
  }

  .abt-1 {
    display: inline-block;
    position: absolute;
    margin-top: -65px;
    margin-left: 82px;
  }

  #ham-menu {
    display: none;
    font-family: "Inter", sans-serif;
    position: absolute;
    height: 748px;
    width: 100%;
    text-align: left;
    z-index: 99;
    background-color: #fff;
  }

  /* Becky Add style.css for the menu */
  .clr-grey {
    line-height: 44px;
    font-weight: 600;
    color: #3a4a42;
    font-size: 32px !important;
  }

  #x {
    position: absolute;
    margin-left: 340px;
    margin-top: -55px;
    height: 12px;
    width: 12px;
  }

  #pop-outer {
    display: none;
    height: 836px;
    width: 375px;
    width: max-content;
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    margin-left: 16px;
    margin-top: 200px;
    position: absolute;
    z-index: 9999;
  }

  #popup-content {
    font-size: 1.5rem;
    font-weight: bold;
    color: #172b4d;
  }

  #badges {
    display: flex;
    gap: 16px !important;
    margin-left: -40px;
  }

  #badges li {
    background-color: #ebf0ee;
  }

  #js-p {
    font-family: "Inter", sans-serif;
    color: #344563;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  #js-p2 {
    font-family: "Inter", sans-serif;
    color: #344563;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .btn-live {
    width: 135px;
    margin-right: 18px;
    font-size: 17px;
    font-weight: 500;
  }

  .btn-source {
    width: 156px;
    font-size: 17px;
    font-weight: 500;
  }

  #ext {
    height: 24px;
    position: absolute;
    margin-left: -55px;
    margin-top: 17px;
  }

  #g {
    position: absolute;
    margin-top: 20px;
    margin-left: -30px;
  }

  #pop-x {
    margin-top: 16px;
    margin-left: 271px;
    position: absolute;
  }
}

.pop2 {
  display: none;
}

#pop-outer {
  display: none;
}

.skills {
  display: flex;
  margin-top: 60px;
}

.skill {
  width: 340px;
  height: 345px;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  background-color: #ebf0ee;
}

.li-2 {
  background-color: #fff;
  color: #36b37e;
}

.p1 {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(45%);
  transform: translateY(25%);
}

.content-4 {
  font-size: x-large;
  margin-top: 30px;
  padding: 20px;
}

.in {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 300px;
  height: 48px;
  font-style: italic;
  margin-bottom: 24px;
}

textarea {
  width: 300px;
  height: 117px;
  font-family: "Inter", sans-serif;
  padding: -20px;
}

textarea::placeholder {
  position: relative;
  left: -20px;
}

.btn-3 {
  margin-top: 30px;
}

.foot {
  position: absolute;
  margin-top: 13px;
  margin-left: 153px;
}

.btn:hover {
  background-color: #36b37f;
}

.btn:active {
  background-color: #008552;
}

.works {
  display: grid;
}

.s {
  color: #344563;
  font-size: 24px;
}

.skills-div {
  text-align: center;
  justify-content: center;
  margin-left: -23px;
}

.navbar {
  display: none;
}

.hide-mob {
  display: none;
}

#social-media {
  gap: 20px;
  text-align: center;
  justify-content: center;
}

#m {
  margin-top: 3px;
}

.btn-see {
  padding-left: 14px;
  padding-right: 14px;
}

button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

#lin {
  margin-top: -5px;
}

@media only screen and (min-width: 767px) {
  #ham-menu {
    display: none !important;
  }

  #menu {
    display: none;
  }

  .navbar {
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
    margin-right: 50px;
    margin-top: 0;
  }

  .navbar > li > a {
    text-decoration: none;
    color: #172b4d;
  }

  .hide {
    display: none;
  }

  .hide-mob {
    display: block;
  }

  #social-media {
    margin-top: 50px;
  }

  #d {
    margin-top: 90px;
  }

  #content-1 {
    background-image: url(imgs/header-img.png);
    background-size: cover;
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    margin-top: 0;
  }

  .c1 {
    margin-top: 160px;
  }

  .works-flex {
    display: relative;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px 150px;
    grid-column-gap: 200px;
    grid-row-gap: 400px;
    text-align: center;
    justify-content: center;
  }

  .content-3 {
    margin-top: 500px;
    background-image: url(imgs/about-desktop.svg);
    background-size: cover;
  }

  .skills-div {
    margin-top: 100px;
    display: flex;
  }

  .foot-flex {
    display: flex;
  }

  .content-4 {
    text-align: justify;
    height: 500px;
    width: 600px;
  }

  form {
    margin-top: 80px;
  }

  .in {
    width: 484px;
  }

  .text-in {
    width: 484px;
  }

  .btn-3 {
    margin-left: -355px;
  }

  #about-2-desktop {
    margin-top: -91px;
    margin-left: -720px;
    position: absolute;
    z-index: -1;
  }

  .f {
    position: absolute;
  }

  .f1 {
    margin-top: -372px;
    margin-left: -45px;
  }

  .f2 {
    margin-top: -111px;
    margin-left: 136px;
  }

  .f3 {
    margin-top: -480px;
    margin-left: 1027px;
    position: absolute;
    right: 0;
  }

  footer {
    margin-left: 50px;
  }

  /* Marco Animation */

  /* .title:hover {
    transition: all 0.5s ease;
    font-size: 2em;
    color: #0f0;
  } */

  .foot {
    display: none;
  }
}

a {
  text-decoration: none;
}
